name: Build Artifacts

# Controls when the workflow will run
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Run a one-line script
        run: echo Hello, world!    
        
      - name: Setup Maven
        uses: stCarolas/setup-maven@v4.3
        
      - name: Gradle Build and publish to Maven local
        run: ./gradlew publishToMavenLocal
        #uses: puredevops/sample-action@v1.3
        #with:
         # arguments:
          #  publishToMavenLocal
        
      - name: check maven local
        run: |
          cd ~/.m2/repository/com/github/vladislav-chetrari
          ls
